consumer.offset.group.filters={"groupFilters":[ {"name": "*", "patternType": "LITERAL", "filterType": "INCLUDE"},{"name": "cg-test-app1", "patternType": "LITERAL", "filterType": "EXCLUDE"},{"name": "cg-test2-app1", "patternType": "LITERAL", "filterType": "EXCLUDE"},{"name": "cg-test2-app2", "patternType": "LITERAL", "filterType": "EXCLUDE"}]}
